.update-userinfo{
    margin-top: 20px;
    font-weight: bold;

    .update-userinfo-header{
        color: black;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }
}
