.ant-layout {
  height: 100%;
}

.header {
  height: 65px;
  padding: 0;
  background: #a9a9a9;
}

.logo {
  width: 200px;
  height: 70px;
  background: url("~/src/assets/navigation.png") no-repeat center / 50px auto;
}

.layout-content {
    overflow-y: auto;
}

.user-info {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  color: black;
  font-size: large;
  font-weight: bold;

  .user-profile {
    margin-right: 20px;
  }

  .user-logout {
    width: 100px;
    display: inline-block;
    cursor: pointer;
  }
}
.ant-layout-header {
  padding: 0 !important;
}

img{
  width: 200px;
}

.ant-layout-sider-trigger {
  height: 60px;
  color: #000;
  background: #fefefe;
}

